__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env*
*.env

.ipynb_checkpoints/

.DS_Store
Thumbs.db

logs/
*.log

# large artifacts (tetap ignore saat dev)
DATASET/
exports/
checkpoints/

# simpan model untuk deploy (izinkan folder models/)
!models/

.cache/
*.cache/

.vscode/
.idea/

.streamlit/

# generated images and models (exclude)
*.png
*.jpg
*.jpeg
*.keras
*.h5
*.pb
